<div>
  <form [formGroup]="rForm" (ngSubmit)="verifyOTP(rForm.value)">
    <div class="form-container">
      <div class="row columns">
          <h3>OTP Verification</h3>
          <label>OTP Number
          <input type="text" name="" formControlName="otpNumber"/>
        </label>
         <div class="alert" *ngIf="!rForm.controls['otpNumber'].valid && rForm.controls['otpNumber'].touched">Enter 4 digit OTP Number</div> 
        <input type="submit" class="button expanded" name="" value="Submit Form" [disabled]="!rForm.valid">
      </div>
    </div>
  </form>
</div>
